name: Go Build

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Setup Go environment
      uses: actions/setup-go@v2.1.5
      with:
        go-version: 1.16.4

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2.4.0

    - name: Get dependencies
      run: |
        go get -v -t -d ./...
    - name: Build
      run: go build -v .

    - name: Test
      run: go test -v ./...